.counter {
    color: white;
    position: absolute;
    top: -5px;
    left: 341px;
    z-index: 4;
}

.circle {
    height: 40px;
    width: 40px;
    background-color:black;
    border-radius: 50%;
    position: absolute;
    top: 20px;
    left: 312px;
    z-index: 2;
  }

  .innerCircle {
    height: 20px;
    width: 20px;
    background-color: lightcoral;
    border-radius: 50%;
    position: absolute;
    top: -175px;
    left: 355px;
    z-index: 3;
  }

  .bag {
      position: absolute;
      top: 28px;
      left: 325px;
      z-index: 3;
  }