.totalSumRow {
    display: flex;
    flex-direction: row;
    width: 300px;
    height: 50px;
    align-content: center;
  }
  
  
  .cartLine {
    flex-grow: 1;
    height: 35px;
    background-image: linear-gradient(to right, black 33%, rgba(255,255,255,0) 0%);
    background-position: bottom;
    background-size: 4px 1px;
    background-repeat: repeat-x;
  
  }
  
  .totalSumRowColumn {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    margin-top: -20px;
    margin-left: 20px;
  }
  
  .totalSumRow1 {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
    width: 290px;
  }
  
  .totalSumRow2 {
    color: #2F2926;
    font-family: Work Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    margin-top: -20px;
    margin-left: -150px;
    align-content: flex-start;
  }